<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some website</title>
    </head>
    <body>
        {{> header}}
        <p>Some text here from Home.hbs file.</p>
        <p><b>{{screamIt welcomeMsg}}</b></p>
        {{> footer}}
    </body>
</html>